*{
    margin: 0;
    padding: 0;
}
body{
    transform-style: preserve-3d;
    perspective: 600px;
}
.box{
    transform-style: preserve-3d;
    width: 15vw;
    height: 40vw;
    border: 1px solid red;
    margin: 10vw auto;
}
.jie{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: red;
}